Django>=4.2
djangorestframework>=3.14.0
pydantic
uvicorn
psycopg2-binary
pytest
pytest-django
django-stubs
sqlalchemy
python-dotenv
faker
django-stubs
django-stubs-ext
django-extensions
drf-spectacular
drf-spectacular-sidecar
gunicorn
whitenoise
djangorestframework-stubs
django-guardian
django-cors-headers
psutil